// Color Scheme >>>
$color-red: #DE8C8C;        // red
$color-black: #3B4C55;      // black
$color-yellow: #DADA93;     // yellow
$color-white: #F6F6F6;      // dirty white
$color-gray: #C0C0C0;       // light gray

// Font Sizes >>> 
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;