@use "../../styles/variables" as *; 
@forward '../../styles/typography';

header {
    background-color: $color-red;
    color: $color-white;
    padding: 20px;
    text-align: center;
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 100;
}