@use "../../styles/variables" as *; 
@forward '../../styles/typography';

footer {
    position: fixed;
    bottom: 15px;
    color: $color-white;
    right: 0;
    margin-right: 50px;

    a {
        color: $color-white;
        text-decoration: underline;

        transition: all 0.2s;
    }
    a:hover {
        color: $color-black;
        cursor: pointer;
    }
}