// Color Scheme >>>
$timberwolf: #D1D1D1;
$platinum: #DBDBDB;
$light-sky-blue: #85C7F2;
$dim-gray: #636363;
$davys-gray: #4C4C4C;

body {
  background-color: $light-sky-blue;
}
h1 {
  color: $davys-gray;
}